.hero-section {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 66%,
      rgba(0, 0, 0, 0.8) 138%
    ),
    url(assets/hero-section.jpg);
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
}

.hero-container {
  position: absolute;
  top: 30%;
  left: 1%;
}

@media screen and (max-width: 992px) {
  .hero-section {
    display: flex;
    justify-content: center;
    align-items: end;
    color: white;
  }
  .hero-container {
    margin-top: 2%;
    position: static;
    text-align: center;
    margin-bottom: 10%;
  }
}
