.foot-panel {
  background-color: #121212;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;

  .foot-list {
    margin-top: 40px;

    li {
      list-style-type: none;
      font-size: 0.9rem;
      color: #dddddd;
      margin-left: 5px;
      margin-bottom: 5px;

      &:hover {
        cursor: pointer;
      }
    }
    p {
      font-size: 1rem;
      font-weight: bolder;
      margin-bottom: 10px;
    }
  }
}

.foot-panel2 {
  background-color: #000000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px;
  flex-wrap: wrap;

  .foot-region {
    padding: 6px;
    border: 1px solid #a2a2a2;
    color: white;
    border-radius: 2px;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }

  .foot-lang {
    margin: 30px;
    padding: 6px;
    border: 1px solid #a2a2a2;
    color: white;
    border-radius: 2px;

    select {
      border: none;
      outline: none;
      background: transparent;
      color: white;
    }

    option {
      background-color: black;
    }
  }
}

.foot-copyright {
  background-color: #12171b;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.8rem;

  a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
  }
}

.footer-list-hover {
  transform: scale(1);
  transition: 0.3s transform ease;

  &:hover {
    transform: scale(1.02);
    transition: 0.3s tranform ease;
  }
}
