.product-listing {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
  padding: 10px;
}

.card {
  .btn {
    color: black;
    background: linear-gradient(to right, black 50%, rgb(40, 125, 245) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
    border-radius: 30px;

    &:hover {
      background-position: left bottom;
    }
  }
}

.p-card {
  translate: 0 0;
  transition: translate 0.5s ease;

  &:hover {
    translate: 0 -10px;
    transition: translate 0.5s ease;
    cursor: pointer;
  }
}

.card-img-top {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
